.skeleton {
  animation: skeleton-loading 0.8s linear infinite alternate;
  color: transparent;
  height: 100%;
  min-height: 22px;
  max-height: 22px;
  border-radius: 2px;
}

@keyframes skeleton-loading {
  0% {
    background-color: var(--background-secondary);
  }
  100% {
    background-color: var(--page-secondary);
  }
}
