.comment {
  border-left: 2px solid var(--divider-color);
  padding-left: 20px;
  margin-bottom: 12px;
  position: relative;

  .text {
    &.invalid {
      color: var(--text-inactive);
    }
  }

  .details {
    font-family: var(--main-font-family);
    line-height: 10px;
    white-space: nowrap;
    font-size: 10px;
    display: flex;
    gap: 10px;
    color: var(--text-inactive);
    font-weight: 600;
    margin-bottom: 12px;
  }

  .arrow {
    background-color: var(--background-secondary);
    position: absolute;
    left: -9px;
    top: 1px;
    cursor: pointer;
    height: 17px;
    border-radius: 2px;

    &:hover {
      background-color: var(--page-secondary);
    }
  }
}
