.comment {
  border-left: 2px solid var(--divider-color);
  padding-left: 20px;
  margin-bottom: 12px;

  .details {
    font-family: var(--main-font-family);
    line-height: 10px;
    white-space: nowrap;
    font-size: 10px;
    display: flex;
    gap: 10px;
    color: var(--text-inactive);
    font-weight: 600;
    margin-bottom: 12px;
  }
}
