<div class="main">
  <div class="titleBar">Hacker News - VS Code Edition</div>
  <div class="content">
    <div class="iconNav">
      <div
        class="codicon codicon-files"
        [class.open]="navOpen"
        (click)="toggleNav()"
        (keypress)="toggleNav()"
      ></div>
    </div>

    @if (navOpen) {
    <div class="nav">
      <div class="title">explorer</div>
      <ul class="pages">
        <li
          [class.selected]="currentPage === 'all'"
          (click)="navigateTo('all')"
          (keypress)="navigateTo('all')"
        >
          <app-page-icon path="all" />
          All Stories
        </li>
        <li
          [class.selected]="currentPage === 'top'"
          (click)="navigateTo('top')"
          (keypress)="navigateTo('top')"
        >
          <app-page-icon path="top" />
          Top Stories
        </li>
        <li
          [class.selected]="currentPage === 'best'"
          (click)="navigateTo('best')"
          (keypress)="navigateTo('best')"
        >
          <app-page-icon path="best" />
          Best Stories
        </li>
      </ul>
    </div>
    }

    <div class="page">
      <router-outlet />
    </div>
  </div>

  <app-footer></app-footer>
</div>
