<div class="main">
  <div class="titleBar">Hacker News - VS Code Edition</div>
  <div class="content">
    <div class="iconNav">
      <div
        class="codicon codicon-files"
        [class.open]="navOpen"
        (click)="toggleNav()"
        (keypress)="toggleNav()"
      ></div>
    </div>

    @if (navOpen) {
    <div class="nav">
      <div class="title">explorer</div>
      <ul class="pages">
        <li
          [class.selected]="currentPage === 'all'"
          (click)="navigateTo('all')"
          (keypress)="navigateTo('all')"
        >
          <div class="codicon codicon-home"></div>
          All Stories
        </li>
        <li
          [class.selected]="currentPage === 'top'"
          (click)="navigateTo('top')"
          (keypress)="navigateTo('top')"
        >
          <div class="codicon codicon-globe"></div>
          Top Stories
        </li>
        <li
          [class.selected]="currentPage === 'best'"
          (click)="navigateTo('best')"
          (keypress)="navigateTo('best')"
        >
          <div class="codicon codicon-globe"></div>
          Best Stories
        </li>
      </ul>
    </div>
    }

    <div class="page">
      <div class="tab">{{ currentPageTitle }}<router-outlet /></div>
    </div>
  </div>

  <div class="footer">
    <div class="codicon codicon-cloud"></div>
    <div class="copy">Thiago Arantes &copy; {{ currentYear }}</div>
  </div>
</div>
