.tab {
  position: relative;
  display: grid;
  grid-template-rows: 35px 1fr;
  height: 100%;

  .title {
    width: fit-content;
    min-width: 120px;
    line-height: 36px;
    padding: 0 20px 0 16px;
    background-color: var(--background-secondary);
    border-top: 1px solid var(--default-selection);
    border-right: 1px solid var(--divider-color);
    display: flex;
    gap: 10px;
    margin-bottom: -1px;
    z-index: 1;
  }

  .content {
    border-top: 1px solid var(--divider-color);
    font-family: var(--page-font-family);
    font-size: 12px;
    line-height: 18px;
    flex-grow: 1;
    padding: 20px;
    max-height: calc(100vh - 135px);
    background-color: var(--background-secondary);
    overflow-y: auto;
    scrollbar-color: var(--page-hover) var(--background-secondary);
    scrollbar-width: thin;
  }
}
