<app-tab [path]="path" [title]="title">
  @if(this.isLoadingStory) { Loading } @else {
  <div class="story">
    <div class="title">{{ story.title }}</div>
    <div class="details">
      <span>{{ story.score }} points</span>
      <span>by {{ story.by }}</span>
      <span>{{ story.time * 1000 | timeago }}</span>
    </div>
  </div>
  <div class="comments">
    @for(comment of this.allComments; track comment.id) {
    <div class="comment">{{ comment.text | htmlToPlainText }}</div>
    }
  </div>
  }
</app-tab>
