.story {
  margin-bottom: 6px;

  .title {
    white-space: nowrap;
    font-weight: 600;
  }

  .details {
    font-family: var(--main-font-family);
    line-height: 10px;
    white-space: nowrap;
    font-size: 10px;
    display: flex;
    gap: 10px;
    color: var(--text-inactive);
    font-weight: 600;
  }
}

.comments {
  margin-top: 12px;
}
