@import "../node_modules/@vscode/codicons/dist/codicon.css";

:root {
  --background-primary: #181818;
  --background-secondary: #1f1f1f;
  --divider-color: #2b2b2b;
  --story-primary: #fffb00;
  --story-secondary: #e37933;
  --text-inactive: #868686;
  --text-active: #ffffff;
  --default-selection: #0073ca;
  --page-selection: #04395e;
  --page-hover: #37373d;

  --main-font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  --page-font-family: Menlo, Monaco, "Courier New", monospace;

  font-family: var(--main-font-family);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  max-height: 100%;
  font-size: 13px;
  background-color: var(--background-primary);
}

app-page-icon {
  display: flex;
  align-items: center;
}

app-all-stories,
app-best-stories,
app-home,
app-new-stories,
app-tab {
  display: block;
  height: 100%;
  max-height: 100%;
}
